body {
    background-color: gray;
}

#test {
    background-color: green;
}

.test {
    background-color: blue;
    font-size: 34px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 700;
    width: 50%
}